.sidebar{
    display: flex;
    flex-direction: column;
    width: 6vw;;
    height: 100vh;
    background-color: #16DB65;
    align-items: center;
    justify-content: center;
}
.menuItem{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:12%;
    height: 4.5vw;
    width: 4.5vw;
    border-radius: 1vw;

}
.menuItem:hover{
    background-color: #058C42;
    cursor: pointer;
    transition: 0.2s ease-in;
}
