@font-face {
  font-family: luckiest-guy;
  src: url("../assets/fonts/LuckiestGuy-Regular.ttf");
}
@font-face {
  font-family: rammetto-one;
  src: url("../assets/fonts/RammettoOne-Regular.ttf");
}
@font-face {
  font-family: poppins-regular;
  src: url("../assets/fonts/Poppins-Regular.ttf");
}
.outerContainer{
  display: flex;
  flex-direction: row;
}.container{ 
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.outerContainer{
  box-sizing: border-box;
}
div{
  user-select: none;
}
.buttonFillInside:hover{
  cursor: pointer;
}
.buttonFillBorder:hover{
  cursor: pointer;
}
