:root{
    --bg: #F4ECE1;
    --theme: #0EAD69;

}

.landingContainer{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
}
.header{
    width: 100vw;
    height: 10vh;
    background-color: var(--bg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.companyLogo{
    height: 100%;
    width: 20%;
    background-image:url("../assets/images/logo-black.png") ;
    background-size: 160px 85px;
    background-repeat: no-repeat;
    background-position: 50% 10%;
}
.signInsignUp{
    height: 100%;
    width: 20%;
}
.bodyContainer{
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100vw;
}
.landingLeft{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    font-family: luckiest-guy ;
    width: 50%;
    height: 100%;
    background-color: var(--bg);
}
.textLine{
    margin-left: 5%;
    font-family: luckiest-guy ;
    font-size: 38px;
    color: #2C2C2C;
}
.partners{
    width: 100%;
    height: 30%;
    background-color: #08A045;
    margin-left: 5%;
}
.landingRight{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signInsignUp{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.imageContainerOne{
    position: relative;
    background-color: #f4e7d6;
    width: 40vw;
    height: 40vw;
    border-radius: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.imageContainerTwo{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/girl.png");
    background-size: 80% 70%;
    background-repeat: no-repeat;
    background-position: 6% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: initial;
}
.image{
    position: relative;
    width: 70%;
    height: 70%;
    z-index: -1;
    color: white;
    background-color: var(--theme);
    border-radius: 3em;
}