.sidebar{
    display: flex;
    flex-direction: column;
    width: 6vw;;
    height: 100vh;
    background-color: #F0F0F0;
    align-items: center;
    justify-content: center;
}
.menuItem{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:100%;
    height: 4.5vw;
    width: 4.5vw;
    border-radius: 1vw;

}
.menuItem:hover{
    cursor: pointer;
    transition: 0.2s ease-in;
}
.menuItem:hover>svg{
    fill:#FB9300;
    transition: 0.2s ease-in;
}
.menuItem:focus>svg{
    fill:#FB9300;
}
