:root{
  --bg: #F4ECE1;
  --signInTheme: dodgerblue;

}.SignInContainer{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/images/black-texture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.form{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formContainer{
    width: 50%;
    height: 70%;
    background-color: white;
    opacity: 80%;
    border-radius: 3em;
    justify-content: center;
}
.formTitle{
  text-align: center;
  margin-top: 8%;
  font-family: poppins-regular;
  font-size: 48px;
  font-weight: 800;
}
.divider{
  border: 1px solid #bbb;
  width: 90%;
}
.formInput{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
  align-items: center;
}
.formInput > input{
  border: 0;
  border-bottom: 3px solid #bbb;
  width: 80%;
  padding: 2px 1px;
  margin-top: 5%;
  height: 10%;
  line-height: 42px;
  font-size: 20px;
}
input:first-child{
  margin-top: 20%;
}
input:focus{
  outline: none;
}
.placeholder{
  pointer-events: none;
  position: relative;
  top: -32px;
  left: -140px;
  transition: all 0.5s ease;
}
input:focus,input:valid{
  border-bottom: 3px solid var(--signInTheme) !important;
  transition: all 0.7s ease;
}
input:focus + .placeholder,input:not(:focus):valid +.placeholder{
  top: -62px;
  
}
.submitButton{
  position: relative;
  font-family:poppins-regular;
  top:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 28px;
  color: white;
  width: 80%;
  height: 20%;
  border-radius: 5em;
  background-color: dodgerblue;
}
.submitButton:hover{
  cursor: pointer;
  background-color: royalblue;
}
.signupLink{
  position: relative;
  top: 110px;
}
.signupText{
  color: royalblue;
  cursor: pointer;
  text-decoration: underline;
}
.signInImage{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
    
}
.img{
  width: 28vw;
  height: 28vw;
  background-position: 50%;
  background-image: url('../assets/images/potato.png');
    background-size: 96% 100%;
    background-repeat: no-repeat;
    -webkit-animation-name: rotate;
  -webkit-animation-duration:60s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
}
@keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {  -webkit-transform:rotate(360deg);}
}